Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are
1. R programming 
2. Python 
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. GGally
3. TensorFlow

|Data Science Tools|
|------------------|
|Apache Spark|
|D3.js|
|IBM SPSS|

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**:
- python
- R 
- C++

## issa omar sh. issa